MONGO_URI=mongodb://localhost:27017/greenways
PORT=5000
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=7d
ORS_API_KEY=YOUR_ORS_KEY
NODE_ENV=development
OPENWEATHER_KEY=YOUR_WEATHER_KEY
MAPTILER_KEY=YOUR_MAPTILER_KEY
