@import "tailwindcss";
/* ===== DARK MODE COLORS ===== */
.dark body {
  background-color: #022c22;
}

.dark h1,
.dark h2,
.dark h3 {
  color: #86efac;
}

.dark p {
  color: #d1fae5;
}
/* ===== GREENPATH MAP GLOW ===== */
@keyframes glow {
  0% {
    box-shadow: 0 0 12px rgba(34, 197, 94, 0.6);
  }
  50% {
    box-shadow: 0 0 35px rgba(34, 197, 94, 0.9);
  }
  100% {
    box-shadow: 0 0 12px rgba(34, 197, 94, 0.6);
  }
}

.map-glow {
  animation: glow 2.5s infinite;
}
